/* Main carousel */
.dot {
  background: #BDBDBD !important;
  filter: none !important;
  height: 10px !important;
  opacity: 1 !important;
  width: 10px !important;
}
.dot.selected {
  background: #F8475F !important;
}
.item-carousel {
  align-items: center;
  display: flex;
  position: relative;
}
.item-carousel .banner-text {
  align-items: flex-start;
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 0;
  right: 0;
}
.banner-text span {
  color: #ffffff;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0em;
  margin-bottom: 10px;
  padding-left: 30px;
  text-align: left;
}
.banner-text h4 {
  color: #ffffff;
  font-size: 45px;
  font-weight: 900;
  line-height: 45px;
  padding-left: 30px;
  text-align: left;
}

/* Product carousel */
.product-carousel {
  margin: 25px 0 50px;
}
.product-carousel .container {
  display: flex;
  flex-direction: column;
}
.product-carousel h3 {
  font-size: 20px;
  font-weight: 900;
  line-height: 27px;
  letter-spacing: 0em;
}
.product-carousel .separator-title {
  background: #C0C0C0;
  margin: 5px 0 20px;
  height: 6px;
  width: 65px;
}

.product-list-container {
  overflow: auto;
}
.product-list {
  display: flex;
  flex-direction: row;
  gap: 5%;
  padding-bottom: 20px;
  width: 125%;
}
@media screen and (min-width: 1025px) {
  .product-list-container::-webkit-scrollbar {
    background-color:#e4e4e4;
    border-radius: 4px;
    height: 8px;
    visibility: hidden;
    width: 6px;
  }
  .product-list-container::-webkit-scrollbar-thumb {
    background-color: #1C1C1C;
    border-radius: 4px;
    visibility: hidden;
  }
  .product-carousel .container:hover .product-list-container::-webkit-scrollbar,
  .product-carousel .container:hover .product-list-container::-webkit-scrollbar-thumb {
    visibility: visible;
  }
}

/* Newsletter */
.newsletter {
  background: #F2F2F2;
  height: 146px;
  padding: 24px 0 36px;
}

.newsletter h3 {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  margin: 2px 0 14px;
  text-align: center;
}
.newsletter-form form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
.newsletter-form .input-container {
  display: flex;
  flex-direction: column;
  max-width: 280px;
  width: 100%;
}
.newsletter-form input {
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 5px;
  height: 48px;
  outline: none;
  padding: 16px 17px;
  width: 100%;
}
.newsletter-form input::placeholder {
  font-size: 12px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: 0em;
}
.newsletter-form input:focus {
  border-color: #BDBDBD;
}
.newsletter-form .input-container span {
  color: #D7182A;
  font-size: 12px;
  line-height: 12px;
  margin-top: 8px;
}
.newsletter-form button {
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  line-height: 14px;
  letter-spacing: 0em;
  outline: none;
  transition: 0.3s;
  width: 140px;
}
.newsletter button:hover {
  background: #333333;
}

.form-succes {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.form-succes h4 {
  font-size: 14px;
  font-weight: 700;
  line-height: 14px;
}
.form-succes p {
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  margin-bottom: 15px;
}
.form-succes .reset-form {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  height: 48px;
  line-height: 14px;
  max-width: 328px;
  transition: 0.2s;
  width: 100%;
}

/* - Home mobile - */
@media screen and (max-width: 1025px) {
  .product-list {
    width: 166.5%;
  }
}

/*-*/
@media screen and (max-width: 768px) {
  .item-carousel img {
    filter: brightness(0.5);
  }
  .banner-text span {
    line-height: normal;
    font-size: 20px;
    margin-bottom: 0;
    max-width: 220px;
    padding-left: 0;
  }
  .banner-text h4 {
    font-size: 30px;
    padding-left: 0;
  }

  .product-list {
    gap: 0.7%;
    width: 250%;
  }

  .newsletter {
    height: auto;
  }
  .newsletter h3 {
    margin: 2px auto 14px;
    max-width: 294px;
    text-align: left;
  }
  .newsletter-form {
    margin: auto;
    max-width: 294px;
  }
  .newsletter-form form {
    align-items: center;
    flex-direction: column;
  }
  .newsletter-form .input-container {
    max-width: none;
  }
  .newsletter-form button {
    width: 100%;
  }
}